extends layout

block main
    h1 Inventar

    a(onclick="openModal('add_item')") Legg til nytt inventar

    label(for="search") Søk i inventaren
    input(type="text" placeholder="Søk i inventar" id="search")

    table
        thead
            tr
                th Inventar
                th Beskrivelse
                th Kategori
                th Status
        tbody
            if !inventory
                tr
                    td Her var det helt tomt 😢
                    td
                    td
                    td
            else
                for item in inventory
                    tr
                        td= item.name
                        td= item.description
                        td= item.category
                        td
                            a(href=`/inventory/edit?i=${item.name}&d=${item.description}&c=${item.category}`) Rediger
                            span &nbsp;|&nbsp;
                            if item.available
                                a(href="/inventory/checkout/" + item.id) Lån
                            else
                                a(href="/inventory/checkin/" + item.id) Levert

    .modal#add_item
        include modals/add_item