extends layout

block main
    h1 Inventar
    p Obs: Dersom du redigerer eller legger til elementer er det lurt å oppdatere siden, da det kan være at noe ikke fungerer som det skal.

    a(onclick="openModal('add_item')") Legg til nytt inventar

    br
    br

    input(type="text" placeholder="Søk i inventar" id="search" oninput="searchTable(this);")

    table
        tr
            th
                button(onclick="toggleColumnVisibility(1, this); this.add") Beskrivelse
            th
                button(onclick="toggleColumnVisibility(2, this); this.add") Kategori
            th
                button(onclick="toggleColumnVisibility(3, this); this.add") Sist lånt

    table#inventory_table
        thead
            tr
                th
                    a(onclick="sortTable(0)") ID
                th
                    a(onclick="sortTable(1)") Beskrivelse
                th
                    a(onclick="sortTable(2)") Kategori
                th
                    a(onclick="sortTable(3)") Sist lånt
                th
                    a(onclick="sortTable(4)") Status
        tbody
            if !inventory
                tr
                    td Her var det helt tomt 😢
                    td
                    td
                    td
                    td
            else
                for item in inventory
                    tr
                        td= item.name
                        td= item.description
                        td= item.category
                        td
                            if item.last_borrowed
                                = `${item.last_borrowed.name} (${item.last_borrowed.classroom}) - ${new Date(item.last_borrowed.date).toLocaleDateString(locale, {year: "numeric", month: "long", day: "numeric"})}`
                            else
                                = "Aldri"
                        td
                            a(onclick=`updateEditItemModal("${item.name}","${item.description}","${item.category}"); openModal('edit_item');`) Rediger
                            if !item.available
                                a(href="#" + item.id) &nbsp;|&nbsp;Levert

    .modal#add_item
        include modals/add_item
    .modal#edit_item
        include modals/edit_item