extends layout

block main
    h1 Inventar
    p Obs: Dersom du redigerer eller legger til elementer er det lurt å oppdatere siden, da det kan være at noe ikke fungerer som det skal.

    a(onclick="openModal('add_item')") Legg til nytt inventar

    br
    br

    input(type="text" placeholder="Søk i inventar" id="search" oninput="searchTable(this);")

    table#inventory_table
        thead
            tr
                th
                    a(onclick="sortTable(0)") ID
                th
                    a(onclick="sortTable(1)") Beskrivelse
                th
                    a(onclick="sortTable(2)") Kategori
                th
                    a(onclick="sortTable(3)") Status
        tbody
            if !inventory
                tr
                    td Her var det helt tomt 😢
                    td
                    td
                    td
            else
                for item in inventory
                    tr
                        td= item.name
                        td= item.description
                        td= item.category
                        td
                            a(onclick=`updateEditItemModal("${item.name}","${item.description}","${item.category}"); openModal('edit_item');`) Rediger
                            span &nbsp;|&nbsp;
                            if item.available
                                a(href="#" + item.id) Lån
                            else
                                a(href="#" + item.id) Levert

    .modal#add_item
        include modals/add_item
    .modal#edit_item
        include modals/edit_item