extends layout

block single_head
    script(src="/js/inventory.js" defer)
    script(src="/js/tables.js" defer)
    script(src="/js/print-label.js" defer)
block main
    - let inventory_table_id = "inventory-table";
    - let edit_item_modal_id = "edit_item";
    - let add_item_modal_id = "add_item";
    - let print_label_modal_id = "print_label";
    - let existing_items = inventory.map(item => `'${item.name}'`).join(", ");

    h1 Inventar
    p Obs: Dersom du redigerer eller legger til elementer er det lurt å oppdatere siden, da det kan være at noe ikke fungerer som det skal.

    a(onclick=`resetAddItemModal(); openModal('${add_item_modal_id}')`) Legg til nytt inventar

    br
    br

    input(type="text" placeholder="Søk i inventar" id="search" oninput=`searchTable(this.value, "${inventory_table_id}");`)

    table#sort-options--table
        tr
            th
                button(onclick=`toggleColumnVisibility(1, this, "${inventory_table_id}");`) Beskrivelse
            th
                button(onclick=`toggleColumnVisibility(2, this, "${inventory_table_id}");`) Kategori
            th
                button(onclick=`toggleColumnVisibility(3, this, "${inventory_table_id}");`) Sist lånt

    table(id=`${inventory_table_id}`)
        thead
            tr
                th!=`<a onclick="sortTable(0, '${inventory_table_id}')">ID</a>`
                th!=`<a onclick="sortTable(1, '${inventory_table_id}')">Beskrivelse</a>`
                th!=`<a onclick="sortTable(2, '${inventory_table_id}')">Kategori</a>`
                th!=`<a onclick="sortTable(3, '${inventory_table_id}')">Sist lånt</a>`
                th!=`<a onclick="sortTable(4, '${inventory_table_id}')">Rediger</a>`
        tbody
            if !inventory
                tr
                    td Her var det helt tomt 😢
                    td
                    td
                    td
                    td
            else
                for item in inventory
                    tr
                        td= item.name
                        td= item.description
                        td= item.category
                        td
                            if item.last_borrowed
                                = `${item.last_borrowed.name} (${item.last_borrowed.classroom}) - ${new Date(item.last_borrowed.date).toLocaleDateString(locale, {year: "numeric", month: "long", day: "numeric"})}`
                            else
                                = "Aldri"
                        td
                            - let itemstr = `"${item.name}","${item.description}","${item.category}"`;
                            a(onclick=`updateEditItemModal(${itemstr}); openModal('${edit_item_modal_id}');`) Rediger
                            span &nbsp;|&nbsp;
                            a(onclick=`updatePrintModal(${itemstr}); openModal('${print_label_modal_id}');`) Etikett
                            if !item.available
                                a(href="#" + item.id) &nbsp;|&nbsp;Levert

    center
        p#search_results_text

    .modal(id=`${add_item_modal_id}`)
        include modals/add_item
    .modal(id=`${edit_item_modal_id}`)
        include modals/edit_item
    .modal(id=`${print_label_modal_id}`)
        include modals/print_label

    // Sort table on page load
    script
        != `window.onload = function (){`
        != `sortTable(0, "${inventory_table_id}");`
        != `updateResultsCounter("#${inventory_table_id} tr");`
        != `}`