extends layout
block single_head
    link(href="/css/select2.min.css" rel="stylesheet")
    script(src="/js/select2.min.js" defer)

block main
    hgroup
        h1 Utstyrslån
        h2 Velg elev og utstyr som skal lånes ut. Utstyr som er utlånt vil ikke vises i listen.

    p Dersom du ikke finner eleven må du sjekke om eleven er utestengt, eller har glemt å registrere seg på hjemmesiden.

    label(for="user") Velg bruker
    select(name="user" id="user" required)
        option()
        for user in users
            if(!user.banned)
                option(value=user.sub)=`${user.name} (${user.classroom || "Ansatt"})`

    label(for="days") Antall dager (1-14)
    input(type="number" name="days" id="days" min="1" max="30" value="2" required onchange="enforceMinMax(this, 1, 14)")

    label(for="gear-select") Velg utstyr
    select(name="gear" id="gear-select" required multiple)
        for item in inventory
            if(item.available)
                option(value=item.name)=`${item.name}`

    button(id="submit" type="button" onclick=`lendGear();`) Ferdig

    script.
        function lendGear() {
            alert("Utstyr lånt ut til bruker");
            // TODO: Send data to server
            location.href = "/edugear";
        }

        function enforceMinMax(element, min, max) {
            /**
             * Enforces a minimum and maximum value for an input element
             * @param element - The input element
             * @param min - The minimum value
             * @param max - The maximum value
             * @returns {void} - Sets the value of the input element to the min or max if it is out of bounds
             */
            if (element.value < min) {
                element.value = min;
            } else if (element.value > max) {
                element.value = max;
            }
        }

        function clearForm() {
            $('#user').val(null).trigger('change');
            $('#days').val(2);
            $('#gear-select').val(null).trigger('change');
            $('#status').text('Låner ut...');
        }

        $(document).ready(function() {
            $('#user').select2({
                placeholder: "Velg bruker",
                containerCssClass: "select2--small",
                dropdownCssClass: "select2--small",
                sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
            });

            $('#gear-select').select2({
                placeholder: "Velg utstyr",
                containerCssClass: "select2--small",
                dropdownCssClass: "select2--small",
                sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
            });

            $(document).on('select2:open', function (e) {
                document.querySelector(`[aria-controls="select2-${e.target.id}-results"]`).focus();
            });

            $(document).on('select2:close', function (e) {
                if (e.target.id === 'user') {
                    document.querySelector('#days').select();
                }
            });

            $(document).on('keydown', '#days', function (e) {
                if (e.key === 'Enter') {
                    document.querySelector('#gear-select').focus();
                }
            });
        });
