.modal-content
    h2 Rediger
    .modal-close
        a(onclick=`if(confirm('Vil du lagre endringene dine?')) saveEditChanges('${edit_item_modal_id}'); closeEditModal('${edit_item_modal_id}')`) ×

    label(for="edit-item-name") ID
    input(type="text" id="edit-item-name" placeholder="ID" required oninput=`checkUniqueItemName(this, [${existing_items}]);`)
    input(type="hidden" id="edit-item-name_old")

    label(for="edit-item-description") Varebeskrivelse
    input(type="text" id="edit-item-description" placeholder="Fullstendig beskrivelse (Sony A6500)" required)

    label(for="edit-item-category") Kategori
    input(type="text" id="edit-item-category" placeholder="Kategori (Kamera, Lys, Stativ, etc.)" required)

    p#edit-item-response-message Obs! Alle feltene er påkrevd

    button.btn-danger(type="button" onclick=`if(deleteItemWithConfirm()) closeEditModal('${edit_item_modal_id}');`) Slett
    button(type="button" onclick=`saveEditChanges('${edit_item_modal_id}');`) Lagre
    button(type="button" onclick=`closeEditModal('${edit_item_modal_id}');`) Avslutt