.modal-content
    h2 Velg elev
    .modal-close
        a(onclick="if(confirm('Er du sikker på at du vil lukke vinduet?')) closeModal('lend')") ×

    button(type="button" id="selected_student" onclick="toggleDropdown('user-select')") Velg elev
    input(type="hidden" name="selected_user" id="selected_user" value="" required)
    .dropdown#user-select
        .dropdown-content
            input(type="text" placeholder="Søk etter elev" oninput="filterStudents(this.value)")
            #user-list
                if !users
                    p Ingen elever funnet
                else
                    for user in users
                        li
                            a(onclick=`selectStudent("${user.name}", "${user.classroom || 'Ansatt'}"); closeDropdown('user-select')`) #{user.name} (#{user.classroom || "Ansatt"})
            br
            button(type="button" onclick="closeDropdown('user-select')") Lukk


    label(for="start_date") Startdato
    // value should be todays date
    - let today = new Date().toISOString().split('T')[0]
    input(type="date" name="start_date" id="start_date" value=today required min=today disabled)


    label(for="end_date") Tilbakeleveringsdato
    // value should be todays date + 1 day
    - let tomorrow = new Date(new Date().getTime() + 24 * 60 * 60 * 1000).toISOString().split('T')[0]
    - let three_weeks = new Date(new Date().getTime() + 24 * 60 * 60 * 1000 * 21).toISOString().split('T')[0]
    input(type="date" name="end_date" id="end_date" value=tomorrow required min=tomorrow max=three_weeks)

    label(for="gear") Legg til utstyr
    select(name="gear" id="gear" multiple)
        option(value="A6500-01") A6500-01
        option(value="A6500-02") A6500-02



    label(for="comment") Kommentar (valgfritt)
    textarea(name="comment" id="comment" rows="1")

    button(type="button" onclick="if(confirm('Er du sikker på at du vil avbryte?')) closeModal('lend')") Avbryt
    button(type="button" onclick="lendGear(); closeModal('lend')") Bekreft

    script(src="/js/student.js" defer)